.home {
    position: relative;
    background-color: antiquewhite;
    width: 100%;
    height: 300px;
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}